.postContent {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #e3b261;
  border-radius: 12px;
}

.infos {
  text-align: right;
}

.infos h1 {
  font-size: 20px;
}
