* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: oklch(21% 0.034 264.665);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: oklch(21% 0.034 264.665);
}

.nav-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e3b261;
}

.post-container,
.post-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.back-home {
  margin-top: 1rem;
  text-align: right;
  text-decoration: none;
}

.post-container h1 {
  margin-bottom: 1rem;
  color: #e3b261;
}
